<div class="job-container" id="jobs_job_container">
    <% jobs.forEach(job=> { %>
        <div class="card job-card jobs-job-card" onclick="openJobDetails('<%= job.id %>')">
            <div class="card-header jobs-card-header">
                Actively Hiring
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <%= job.jobCatagory %>
                </h5>
                <div class="card-text jobs-card-text">
                    <p class="jobs-designation">
                        <%= job.jobDesignation %>
                    </p>
                    <p class='jobs-location'><%= job.jobLocation %></p>
                    <p class="jobs-salary"><%= job.salary %></p>
                </div>
                <div class="card-body p-0 d-flex flex-column">
                    <!-- <h6>Required Skills-</h6> -->
                    <div class="d-flex flex-wrap">
                        <% if(job.skillSet !='' ){ %>
                            <% const skills=job.skillSet.split(',') %>
                                <% skills.forEach(skill=> {%>
                                    <span><a class=" btn btn-outline-primary py-0 px-2 mt-2 me-1" href="#">
                                            <%= skill %>
                                        </a></span>
                                    <% })}%>
                    </div>
                </div>
                <!-- <button onclick="openJobDetails('<%= job.id %>')" class="btn details-btn btn-primary mt-3">See Details</button> -->
            </div>
        </div>
        <% }) %>
</div>